


.noto-sans-custom {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Use a value between 100 and 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 15px;
}

h1{
    color: rgb(5, 5, 5);
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
h2{
    color: rgb(248, 247, 247);
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

div {
    
    background-color: black;
    color: white;
    font-size: 42px;
    padding: 30px;
}




nav{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #19191b;
    padding:40px;
    display: flex;
    justify-content: space-around;
 

}

.items:hover{
    background-color: gray;
    opacity: 0.5;
    cursor: pointer;
}
a{
    width: 20%;
    text-align: center;
    text-decoration: none;
}


 
 /*
 div {
    border: 5px solid black;
    border-style: solid;
    margin: 50px;
    display: flex;
    
 }
    */
 

 
 #home {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 117, 117);
    padding: 400px;
    
 }

 #image{
    background-color: rgb(117, 81, 55);
    padding: 300px;
    height: 200px;
    }
 
 #about {
    background-color: rgba(48, 115, 115, 0.697);
    padding: 200px;
 }
 #projects{
    background-color: rgba(48, 115, 115, 0.697);
    justify-content: space-evenly;
    padding: 200px;
 }
 #TBA{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 200px;
 }

 #contact{
    background-color: rgba(48, 115, 115, 0.697);
    display: flex;
    align-items: center;
    justify-content: space-between;

 }
 html {
    scroll-behavior: smooth;
}
